@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="height: calc(100vh - 92px); justify-content: center; display: flex; flex-direction: column">
    <div style="padding: 10px">
        <button class="btn btn-primary" style="background-color:#005b91;border-radius:50px; width: 50%; height: 50px" onclick="window.location.href = '@Url.Action("Form", "Interprete")'">
            Sou Intérprete
        </button>
        @* <input asp-for="Foto"  type="file" class="btn btn-primary" style="background-color:#005b91;border-radius:50px;"/> *@
    </div>

     <div style="padding: 10px">
        <button class="btn btn-primary" style="background-color:#005b91;border-radius:50px; width: 50%; height: 50px" onclick="window.location.href = '@Url.Action("Form", "Empresa")'">
            Sou Empresa
        </button>
        @* <input asp-for="CurriculoFile" type="file" class="btn btn-primary" style="background-color:#005b91;border-radius:50px;"/> *@
    </div>
</div>