@* @model EventoAcessivelApp.Domain.Models.Interprete

@{
    ViewData["Title"] = "Login";
}
<h1>@ViewData["Title"]</h1>

<form asp-action="Form" method="post">
    <div class="form-group" style="padding: 10px">
        <label asp-for="E-mail"></label>
        <input asp-for="E-mail" class="form-control" placeholder="nome@provedor.com" />
    </div> 

    <div class="form-group" style="padding: 10px">
        <label asp-for="Senha"></label>
        <input type="password" class="form-control" placeholder="Informe a senha" />
    </div> 

    <div style="padding: 10px">
        <input type="submit" value="Salvar" class="btn btn-primary" />
    </div> 

    <div style="padding: 10px">
        <input type="submit" value="Cadastrar-se" class="btn btn-primary" />
    </div>
</form> *@
